//_patients-list-page.scss - contains scss styles for
//patients list page, which will be converted to css
//
// Author:

@mixin accordion\apply {

  .side-bar-heading {
    padding-left: rem-calc(20);

    h4 {
      color: get-color('accent');
      display: none;

      @include media-query\apply('large') {
        display: inline;
      }
    }
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;


    i {
      color: get-color('grey')
    }
  }
}


@mixin patients-list-page\apply() {
  .banner {
    text-align: center;
    margin: rem-calc(20) 0;
    @include media-query\apply('large') {
      margin: rem-calc(50) 0;
    }
  }

  .wheel {
    display: none;

    @include media-query\apply('large') {
      display: block;
    }
  }

  .sticky-wrapper {

    @include media-query\apply('large') {
      position: sticky;
      top: rem-calc(70);
    }
  }

  .absolute-wrapper {
    @include media-query\apply('large') {
      position: absolute;
      height: 100%;
    }
  }

  #sidebar-wrapper {
    @include accordion\apply();
    @include media-query\apply('large') {
      left: 250px;
      width: 250px;
      height: auto;
      margin-left: -250px;
      transition: all 0.5s ease;
    }
  }


  #wrapper {
    @include media-query\apply('large') {
      padding-left: 250px;
      transition: all 0.5s ease;
    }
  }

  #wrapper.toggled {
    padding-left: 0px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 100%;

    @include media-query\apply('large') {
      width: 0px;
    }
  }

  #menu-toggle {
    color: white;
    position: absolute;
    left: -40px;
    top: -5px;
    border-radius: 100px;
    border-width: 0;
    background: transparent;
    transition: all 0.5s ease;

    &:hover {
      animation: rotation 5s infinite linear;
    }

    i {
      font-size: 40px;
      color: get-color('light-grey')
    }
  }

  #wrapper.toggled #menu-toggle {
    left: 0;

    i {
      color: get-color('accent')
    }
  }

  .submenu {
    margin-bottom: rem-calc(10);

    @include media-query\apply('large') {
      margin-bottom: 0;
    }
  }

  .add-gutters {
    @include spacing\apply('gutters', $types: ('margin'), $sides: ('right', 'left'));
    transition: all 0.5s ease;
  }

  .container {
    transition: all 0.5s ease;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
}
