//_patients-list-page.scss - contains scss styles for
//patients list page, which will be converted to css
//
// Author:
@mixin patients-list-page\apply() {
  //TODO: put styles for patients list page here CSS and SASS format is OK
  .banner {
    text-align: center;
    margin: rem-calc(20) 0;
    @include media-query\apply('large') {
      margin: rem-calc(50) 0;
    }
  }

  .sticky-wrapper {
    position: sticky;
    top: 0;
  }

  .absolute-wrapper {
    position: absolute;
    height: 100%;
  }

  #sidebar-wrapper {
    position: fixed;
    left: 250px;
    width: 250px;
    height: 86.5%;
    margin-left: -250px;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #000;
    transition: all 0.5s ease;
    width: 0px;
  }
}
