//_patients-list-page.scss - contains scss styles for
//patients list page, which will be converted to css
//
// Author:
@mixin patients-list-page\apply() {
    //TODO: put styles for patients list page here CSS and SASS format is OK
    .banner {
        text-align: center;
    }
    .navbar {
        a,
        li a {
            color: get-color('primary-light');
        }
        background-color: get-color('primary');
    }
}